@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;1,200&display=swap');

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.back-img {
    height: 100vh;
    background-image: url(./imgs/background.webp);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;

}

