@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: black;
}

.cursor-pointer {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.navbar {
    background-color:rgb(129, 0, 0)!important;
}

.git-logo {
    width: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}
/* 
.dua-img {
    background-image: url(./imgs/js-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: myAnim 2s ease 0s 1 normal forwards;
    height: 110vh;

} */


.card {
    box-shadow: rgb(255, 255, 255) 0px 2px 12px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.card-img-top {
    height: 230px;
}

#ramadanImage {
    border-bottom: 2px solid gray !important;
}

/* @keyframes myAnim {
	0% {
		opacity: 0;
		transform: scale(1.4);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
} */

/* .list-container {
    background: transparent;
    backdrop-filter: blur(160px);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

a {
    text-decoration: none;
    width: fit-content;

}

.assign-name:hover {
    text-decoration: underline;
    text-decoration-color: yellow;
}

ul li {
    list-style: none;
    color: white;
    width: fit-content;
}

@media only screen and (max-width: 480px) {
    ul li {
        font-size: 16px !important; 
    }

    a {
        font-size: 16px !important;
    }
} */